NODE_ENV=development
DATABASE_URL=local.db
BETTER_AUTH_SECRET=your_secret_key_here
BETTER_AUTH_BASE_URL=http://localhost
BREVO_API_KEY=your_brevo_api_key_here
BREVO_FROM_ADDRESS=noreply@example.com
BREVO_NEW_USER_ADDRESS=admin@example.com
CRON_SECRET=your_cron_secret_here
APP_URL=http://localhost
FLY_API_TOKEN=your_fly_api_token_here
SENTRY_AUTH_TOKEN=your_sentry_auth_token_here